<footer class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="col-md-10"><p class="text-muted">price v0.1.1 &copy; <script> document.write(new Date().getFullYear());</script> <a href="http://corp/">corp</a></p></div>
    </div>
</footer>

