<div class="row">
   <!-- ui-view - по сути это виды
    ui-view="sidebar" - это именованный вид
    sidebar - имя вида

    Для каждого вида в модели можно определить собственный шаблон,
    контроллер и принимаемые данных.
    -->
<!--showHomePage-->
<div ui-view></div>
<div ui-view="sidebar"></div>
<div ui-view="body"></div>
</div>
